@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fadeInSoft {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInSoft {
  animation: fadeInSoft 2s ease-out both;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

.vertical-divider:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 10%;
  height: 80%;
  width: 1px;
  background-color: hsl(var(--border));
}

@media (max-width: 768px) {
  .vertical-divider::after {
    display: none;
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  appearance: none;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 10%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;
    --primary: 0 0% 10%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 13% 96%;
    --secondary-foreground: 0 0% 29%;
    --muted: 220 13% 96%;
    --muted-foreground: 0 0% 40%;
    --accent: 220 13% 96%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 9% 90%;
    --input: 220 13% 91%;
    --ring: 0 0% 10%;
    --radius: 0.125rem;
  }
  .dark {
    --background: 220 20% 7%;
    --foreground: 210 20% 87%;
    --card: 220 13% 7%;
    --card-foreground: 210 20% 87%;
    --popover: 220 13% 7%;
    --popover-foreground: 210 20% 87%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 10%;
    --secondary: 220 9% 15%;
    --secondary-foreground: 210 20% 87%;
    --muted: 220 9% 15%;
    --muted-foreground: 220 5% 55%;
    --accent: 220 9% 15%;
    --accent-foreground: 210 20% 87%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 9% 31%;
    --input: 220 9% 31%;
    --ring: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    transition-property: color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
  }
  
}
